[Unit]
Description=The BGG Scraper
ConditionPathExists=/root/work/go/src/github.com/bggscraper

[Service]
Restart=always
RestartSec=3
ExecStart=/root/work/go/src/github.com/bggscraper/restart-scraper.sh

[Install]
WantedBy=multi-user.target
